.small-logo {
  height: 64px;
}

.navbar {
  padding-top: 4px;
  padding-bottom: 4px;
  height: 72px;
}

.navbar-nav>li>a {
  padding-top: 19px;
  padding-bottom: 19px;
}

.navbar-brand {
  padding-left: 15px;
  padding-top: 0px;
}

.navbar-brand > img {
  display: inline-block;
}

.navbar-collapse {
  padding-left: 0;
}

.copyright {
  padding-top: 15px;
  text-align: right;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
  background-color: #f8f8f8;
  border-top: 1px solid #e7e7e7;
  margin-top: 20px;
}