<?xml version='1.0' encoding='utf-8'?>
<widget id="com.google.lovefield" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LfPerf</name>
    <description>
        Lovefield performance dashboard.
    </description>
    <author email="dpapad@chromium.org">
        dpapad
    </author>
    <content src="src/dashboard.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="res/icon64.png" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
